#drum-machine {
  padding: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 3px solid coral;
  margin: 5rem auto;
  width: 50%;
}

#display {
  border: 1px solid red;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

#pad-container {
  border: 2px solid blue;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(3, 1fr);
}
.drum-pad {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin: 0.5rem;
  background-color: gray;
  border: 1px solid black;
  cursor: pointer;
}

.control {
  border: 2px solid blue;
}
