body {
  background-color: #8d8d8d;
}

#drum-machine {
  padding: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 3px solid #f2a443;
  margin: 5rem auto;
  width: 50%;
  background-color: #b3b3b3;
}

#container {
  border: 1px solid red;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

#pad-container {
  border: 2px solid red;
  padding: 0;
  display: grid;
  gap: 0;
  grid-template-columns: repeat(3, 1fr);
}
.drum-pad {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 80px;
  margin: 0.5rem;
  border: 1px solid black;
  cursor: pointer;
  box-shadow: black 3px 3px 5px;
  border-radius: 5px;
  background-color: #808080;
  color: #000;
  font-weight: bolder;
  font-size: 1rem;
}

.drum-pad:active {
  background-color: #f2a443;
  box-shadow: #f2a443 3px 3px 5px;
}
.control {
  border: 2px solid blue;
  padding: 2rem;
}

#display {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  border: 1px solid gray;
}

.carrot {
  background-color: #f2a443;
}
